.character-pane {
    height: 100%;
    position: relative;
}

.characters {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    padding: 0;
    margin: 0;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
}

.character-list {
    width: 100%;
    border-color: black;
    border-radius: 3px;
    border-style: solid;
}
.character-list:hover {
  background-color: #aaaaaa;
}

.character {
    width: 80%;
    float: right;
}